body {
  font-family: "Poppins", sans-serif;
  background-color: #fce4ec;
  color: #333;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #ec407a;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: linear-gradient(135deg, #ff6f91, #ffcc91);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: fit-content;
  margin: 1.5rem auto;
  transition: transform 0.3s, background 0.3s;
}

.App h1:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #ffcc91, #ff6f91);
}

#filter-buttons {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

#product-list {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-bottom: 8rem;
}

.product-card {
  background-color: #ffe4e1;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.product-name {
  font-size: 1.25rem;
  color: #ec407a;
  margin-bottom: 10px;
}

.product-category {
  font-size: 0.9rem;
  color: #ba68c8;
  margin-bottom: 15px;
}

.product-price {
  font-size: 1.1rem;
  color: #ff8a80;
  font-weight: bold;
}

.filter-btn {
  background-color: #ec407a;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  margin: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.8rem;
  color: #ba68c8;
  background-color: #f8bbd0;
  padding: 10px;
}

@media (max-width: 450px) {
  .App h1 {
    font-size: 1.5rem;
  }

  #product-list {
    grid-template-columns: 1fr;
    width: 71%;
    margin: 0 auto 8rem;
}
}

@media (min-width:500px) and (max-width: 885px) {
  .App h1 {
    font-size: 2rem;
  }

  #product-list {
    grid-template-columns: 1fr 1fr 1fr ;
    width: 100%;
}
}
