@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fce4ec;
  color: #333;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 250px;
  background-color: #ff80ab; /* Sidebar color */
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
}

.sidebar h2 {
  font-family: "Dancing Script", system-ui;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.filter-btn {
  background-color: #ec407a;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px; 
  margin: 10px 0;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.filter-btn:hover {
  background-color: #c2185b;
}

main {
  flex: 1;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #ec407a;
  width: fit-content;
  font-family: "Dancing Script", system-ui;
  margin: 0 auto 2rem;
  padding: 10px;
  background-color: #ffe4e1;
  border-radius: 15px;
  border: 2px solid #ec407a;
  box-shadow: none;
}


#product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.product-card {
  background-color: #ffe4e1;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.product-name {
  font-size: 1.25rem;
  color: #ec407a;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.1rem;
  color: #ff8a80;
  font-weight: bold;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  color: #ba68c8;
  background-color: #f8bbd0;
  padding: 10px 0;
  position: relative;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  main {
    padding: 10px;
  }
}
